@import '../../../../styles/main.scss';

.overlay{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: rgba($color-dark-blue,0.5);
    background-image: linear-gradient(180deg, rgba($color-dark-blue,0.4),transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    transform: translateX(-50rem);
    transition: all .5s ease-in-out;
    &Show {
        transform: translateX(0);
    }
    
}

.navmenu {
    width: 100%;
    background: $color-white;
    border-radius: 5px;
    padding: 2rem 0;  
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: -10vh;
    transform: translateX(-50rem);
    &showMenu {
       transform: translateX(0);
    }
    &Hide {
        transform: translateX(-100rem);
    }

    &Links {
        list-style: none;
        padding: 1rem 0;
        text-align: center;
        a {
        text-decoration: none;
        color: $color-dark-blue;
    }
}
   
}


